<!--
    <div class = "container">
        <div class = "row">
            <div class = "btn-group-vertical">
                <button class = "btn btn-primary" style="width: 13rem;">
                    <span class = "float-left" style="font-size:larger;">
                        <img src = "https://cdn.nba.net/assets/logos/teams/secondary/web/DEN.svg" style="width: 2rem;"><b> DEN</b>
                    </span>
                    <span class = "float-right"style="font-size: x-large; opacity: 0.5"><b>50</b></span>
                </button>
                <button class = "btn btn-danger" style="width: 13rem;">
                    <span class = "float-left" style="font-size:larger;">
                        <img src = "https://cdn.nba.net/assets/logos/teams/secondary/web/TOR.svg" style="width: 2rem;"><b> TOR</b>
                    </span>
                    <span class = "float-right" style="font-size: x-large; "><b>65</b></span>
                </button>
                <p><span class = "text-danger"><b>Live</b></span> · <b>4th 09:25</b></p>
            </div>
            <div class = "btn-group-vertical">
                <button class = "btn btn-primary" style="width: 13rem;">
                    <span class = "float-left" style="font-size:larger;">
                        <img src = "https://cdn.nba.net/assets/logos/teams/secondary/web/LAL.svg" style="width: 2rem;"><b> LAL</b>
                    </span>
                    <span class = "float-right"style="font-size: x-large; opacity: 0.5"><b>50</b></span>
                </button>
                <button class = "btn btn-danger" style="width: 13rem;">
                    <span class = "float-left" style="font-size:larger;">
                        <img src = "https://cdn.nba.net/assets/logos/teams/secondary/web/LAC.svg" style="width: 2rem;"><b> LAC</b>
                    </span>
                    <span class = "float-right" style="font-size: x-large; "><b>65</b></span>
                </button>
                <p><span class = "text-danger"><b>Live</b></span> · <b>4th 09:25</b></p>
            </div>
            <div class = "btn-group-vertical">
                <button class = "btn btn-primary" style="width: 13rem;">
                    <span class = "float-left" style="font-size:larger;">
                        <img src = "https://cdn.nba.net/assets/logos/teams/secondary/web/PHI.svg" style="width: 2rem;"><b> PHI</b>
                    </span>
                    <span class = "float-right"style="font-size: x-large; opacity: 0.5"><b>50</b></span>
                </button>
                <button class = "btn btn-danger" id = "hTeam" style="width: 13rem;">
                    <span class = "float-left" style="font-size:larger;">
                        <img src = "https://cdn.nba.net/assets/logos/teams/secondary/web/BOS.svg" style="width: 2rem;"><b> BOS</b>
                    </span>
                    <span class = "float-right" style="font-size: x-large; "><b>65</b></span>
                </button>
                <p><span class = "text-danger"><b>Live</b></span> · <b>4th 09:25</b></p>
            </div> <div class = "btn-group-vertical">
                <button class = "btn btn-primary" style="width: 13rem;">
                    <span class = "float-left" style="font-size:larger;">
                        <img src = "https://cdn.nba.net/assets/logos/teams/secondary/web/HOU.svg" style="width: 2rem;"><b> HOU</b>
                    </span>
                    <span class = "float-right"style="font-size: x-large; opacity: 0.5"><b>50</b></span>
                </button>
                <button class = "btn btn-danger" id = "hTeam" style="width: 13rem;">
                    <span class = "float-left" style="font-size:larger;">
                        <img src = "https://cdn.nba.net/assets/logos/teams/secondary/web/OKC.svg" style="width: 2rem;"><b> OKC</b>
                    </span>
                    <span class = "float-right" style="font-size: x-large; "><b>65</b></span>
                </button>
                <p><span class = "text-danger"><b>Live</b></span> · <b>4th 09:25</b></p>
            </div>
        </div>
    </div>
-->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p>This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>